@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;400;500;600;700&display=swap");

/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
}
a {
  color: white;
  text-decoration: none;
}
ul {
  list-style: none;
}
img {
  max-width: 100%;
}

section {
  padding: 0px 0px 100px 0px;
}
/* Reset CSS end */

/* hero_area css start */
.hero_area {
  padding-top: 40px;
  height: 625px;
  width: 100%;
  background-image: url(../img/bg.jpg);
  background-size: cover;
  background-position: center;
}
.logo h2 {
  font-size: 36px;
}
span {
  color: #f9004d;
}
ul.manu {
  text-align: center;
  justify-content: space-evenly;
  align-content: center;
}
.main_manu ul li a {
  height: 36px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  padding: 10px;
  font-weight: bold;
}
.main_manu ul li a:hover {
  color: #f9004d;
  transition: 0.4s;
}
.subscribe_butt a {
  background-color: #f9004d;
  padding: 20px;
  font-weight: 900;
  border-radius: 30px;
  height: 36px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  transition: transform 0.4s;
}
.subscribe_butt a:hover {
  transform: scale(1.2);
  background-color: white;
  color: #f9004d;
}

.btt-content {
  padding-top: 85px;
}
.btt-content h4 {
  color: #fcfc;
  letter-spacing: 2px;
  font-size: 22px;
}
.btt-content h1 {
  font-size: 75px;
  margin: 15px 0px 15px 0px;
}
.btt-content h3 {
  font-size: 25px;
  margin-bottom: 50px;
}
.btt-content_form {
  width: 400px;
  position: relative;
}
.btt-content_form input[type="email"] {
  width: 100%;
  padding: 15px;
  border: 2px solid #f9004d;
  border-radius: 30px;
}
.btt-content_form input[type="submit"] {
  position: absolute;
  border: none;
  padding: 10px 30px;
  border-radius: 30px;
  background-color: #f9004d;
  color: white;
  box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
  top: 6px;
  right: 6px;
}
/* hero_area css end */

/* about_section css start */
.about_section {
  padding: 100px 0px;
  background-color: #191919;
}
.about_section img {
  width: 450px;
}
.about_details {
  padding-top: 80px;
}
.about_details h2 {
  font-size: 75px;
  margin-bottom: 20px;
}
.about_details h3 {
  font-size: 24px;
  margin-bottom: 20px;
}
.about_details p {
  line-height: 1.7;
  color: #fcfc;
  font-size: 18px;
  margin-bottom: 50px;
}
.about_button {
  background-color: #f9004d;
  padding: 15px 25px;
  border-radius: 30px;
  border: 2px solid #f9004d;
  font-weight: bold;
  transition: 0.4s;
}

.about_button:hover {
  background-color: transparent;
  color: #f9004d;
}
/* about_section css end */

/* services_section css start */
.services_section {
  padding: 100px 0px;
  background-color: black;
}
.services_section h2 {
  font-size: 46px;
  margin-bottom: 35px;
  text-align: center;
}
.single_service {
  background-color: #191919d9;
  padding: 50px 50px 30px 50px;
  text-align: center;
  border: 2px solid #f9004d;
  border-radius: 25px;
}
.single_service i {
  color: #f9004d;
  font-size: 50px;
  margin-bottom: 15px;
}

.single_service h4 {
  font-size: 28px;
  margin-bottom: 10px;
}

.single_service p {
  font-size: 18px;
  line-height: 1.2;
  margin-bottom: 20px;
}

.service_button {
  background-color: #f9004d;
  padding: 10px 25px;
  border-radius: 30px;
  border: 2px solid #f9004d;
  font-weight: bold;
  transition: 0.4s;
}

.service_button:hover {
  background-color: transparent;
  color: #f9004d;
}
/* services_section css end */

/* skills_section css start */
.skills_section {
  padding: 100px 0px;
  background-color: #191919;
}
.skills_section h2 {
  font-size: 46px;
  margin-bottom: 35px;
  text-align: center;
}
.single_skills_cont {
  position: absolute;
  content: "";
  max-width: 320px;
  top: 32%;
  left: 60px;
  color: black;
}
.single_skills {
  position: relative;
}

.single_skills_img1 {
  background: url(../img/web_design.png) no-repeat content-box;
  background-size: cover;
  height: 360px;
  border-radius: 25px;
}
.single_skills_img2 {
  background: url(../img/web-development.jpg) no-repeat content-box;
  background-size: cover;
  height: 360px;
  border-radius: 25px;
}
.single_skills_img3 {
  background: url(../img/graphic_design.jpg) no-repeat content-box;
  background-size: cover;
  height: 360px;
  border-radius: 25px;
}

.single_skills_cont h4 {
  font-size: 22px;
  margin-bottom: 10px;
}
.single_skills_cont p {
  font-size: 18px;
  margin-bottom: 15px;
  font-weight: bold;
}
.skills_button {
  border: 2px solid #f9004d;
  border-radius: 25px;
  display: inline-block;
  padding: 10px;
}
/* skills_section css end */

/* contact_section css start */
.contact_section {
  padding: 100px 0px;
}
.contact_section h2 {
  font-size: 46px;
  margin-bottom: 35px;
  text-align: center;
}
.contact_lf_t h3 {
  font-size: 34px;
  margin-bottom: 12px;
}
.contact_lf_t p {
  line-height: 1.5;
  margin-bottom: 35px;
}

.contact_call {
  margin-bottom: 15px;
}
.contact_call i {
  font-size: 70px;
  padding: 15px;
  background-color: #f9004d;
  border-radius: 15px;
}
.contact_call_det {
  font-size: 30px;
  margin-left: 25px;
}
.contact_call_det a {
  color: #f9004d;
}

.contact_email i {
  font-size: 50px;
  padding: 15px;
  background-color: #f9004d;
  border-radius: 15px;
}
.contact_email_det {
  font-size: 30px;
  margin-left: 25px;
}
.contact_email_det a {
  color: #f9004d;
}

.contact_form {
  font-size: 20px;
  background-color: transparent;
  border: 2px solid #f9004d;
  height: 100%;
  border-radius: 0px 0px 30px 30px;
  padding: 25px 20px;
}
.contact_con_left {
  align-self: center;
}

.contact_form label {
  display: inline-block;
  margin-bottom: 10px;
}

.contact_form input,
.contact_form textarea {
  margin-bottom: 15px;
}
.contact_form input {
  width: 100%;
  padding: 10px;
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
}

.contact_form textarea {
  padding: 10px;
  width: 100%;
}
.contact_form input[type="submit"] {
  font-size: 20px;
  font-weight: bold;
  background-color: #f9004d;
  color: white;
  border-radius: 30px;
  transition: 0.4s;
  width: auto;
  padding: 10px 20px;
  margin-bottom: 0;
}
.contact_form input[type="submit"]:hover {
  background-color: transparent;
  color: #f9004d;
  border: 2px solid #f9004d;
}
.contact_social h4 {
  margin: 20px 0px;
  font-size: 30px;
}

.contact_social i {
  font-size: 300%;
  margin-right: 15px;
}

.form-row {text-align: center;}
/* contact_section css end */

.copyright {
  padding: 50px 0px;
  background-color: #191919;
  border-radius: 30px 30px 0px 0px;
}
.copyright p {
  text-align: center;
}
